@model WebStore.Models.Employee
@{
    ViewData["Title"] = "Детали";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    
        <fieldset>
            <h3>ID: @Model.Id</h3>
            <h3>Фамилия: @Model.Surname</h3>
            <h3>Имя: @Model.Name</h3>
            <h3>Отчество: @Model.Patronymic</h3>
            <h3>Возраст: @Model.Age</h3>
        </fieldset>
    
    <a asp-action="Index">Назад</a>

</div>

